:root {
  --docsifytabs-border-color: transparent;
  --docsifytabs-tab-highlight-color: #56c88f;
}

.app-name {
  width: 10%;
  min-width: 60px;
}

* {
  outline: none;
}

.app-nav {
  display: block !important;
}
